---
import features from '../../config/features.json';
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto sm:py-16 lg:px-6">
      <div class="mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Diseñado para todos los dispositivos</h2>
          <p class="text-gray-500 sm:text-xl dark:text-gray-400">Creamos soluciones digitales que combinan diseño, funcionalidad y rendimiento. Desde la idea inicial hasta el lanzamiento, cada detalle está pensado para potenciar tu presencia en línea y ofrecer una experiencia única a tus usuarios.</p>
      </div>
      <div class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0">

        {
            features.map((feature) => (
                <div>
                    <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-full bg-primary-100 lg:h-12 lg:w-12 dark:bg-primary-900">
                        <Fragment set:html={feature.svg}></Fragment>
                    </div>
                    <h3 class="mb-2 text-xl font-bold dark:text-white">{feature.title}</h3>
                    <p class="text-gray-500 dark:text-gray-400">{feature.description}</p>
                </div>
            ))
        }

    

      </div>
  </div>
</section>