<section class="bg-white">
    <div class="gap-16 items-center py-8 px-4 mx-auto lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
        <div class="font-light text-black sm:text-lg dark:black">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold  text-gray-600 sm:grid-cols-3 dark:text-black-100">No reinventamos la rueda, la perfeccionamos</h2>
            <p class="mb-4">
                Somos desarrolladores, diseñadores y estrategas digitales enfocados en crear experiencias web únicas.   
            </p>
            <p class="mb-4">
                Desde landing pages hasta aplicaciones complejas, combinamos creatividad, tecnología y detalle para lograr resultados que destacan.
                Nos adaptamos a cada proyecto, ofreciendo soluciones ágiles y personalizadas que equilibran diseño, funcionalidad y rendimiento.
            </p>
            <p>
                Tu idea, llevada al siguiente nivel con código limpio y diseño moderno.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-8">
            <img class="w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png" alt="office content 1">
            <img class="mt-4 w-full lg:mt-10 rounded-lg" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png" alt="office content 2">
        </div>
    </div>
</section>
