---
import projects from '../../config/projects.json';
---

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto lg:py-16 lg:px-6 ">
      <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
          <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Proyectos Realizados</h2>
          <p class="font-light text-gray-500 lg:mb-16 sm:text-xl dark:text-gray-400">Una colección de desarrollos web creados con dedicación y detalle.  
              Cada proyecto refleja una solución única, pensada para ofrecer diseño atractivo, funcionalidad sólida y rendimiento óptimo.</p>
      </div> 
      <div class="grid gap-8 mb-6 lg:mb-16 md:grid-cols-2">

        {
            projects.map((project) => (
                <div class="items-center bg-gray-50 rounded-lg shadow sm:flex dark:bg-gray-800 dark:border-gray-700">
                    <a href="#">
                        <div class="w-full sm:w-64 h-80 shrink-0">
                            <img class="w-full h-full object-cover rounded-lg sm:rounded-none sm:rounded-l-lg" src={project.ruta_imagen} alt={project.title}/>
                        </div>
                    </a>
                    <div class="p-5 flex flex-col">
                        <h3 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <a href="#">{project.title}</a>
                        </h3>
                        <p class="mt-3 mb-4 font-light text-gray-500 dark:text-gray-400">{project.description}</p>
                        <button type="button" class="mt-4 self-start text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"><a>Ingresar</a></button>
                    </div>
                </div> 
            ))
        }

      </div>  
  </div>
</section>